body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ccf1d8;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 20px;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.4s;
}

.travel-plan {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  min-height: 90px;
}

.travel-plan p {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.travel-plan button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
}

.green-box {
  background-color: #6bbf6b;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
}

.text-box {
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.travel-plan button.details-button {
  background-color: #2196F3;
}

.button:hover {
  background-color: #0b5f0b;
}

#eventDescription {
  height: 100px;
}
